.div1 body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0b1d2c, #163436);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.div1 .container {
    background-image: linear-gradient(rgb(12, 24, 31),rgb(15, 40, 52),rgb(14, 54, 31),rgb(27, 41, 48),rgb(23, 34, 40));
    /* background: rgb(22, 130, 207); */
    color:white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    justify-content: center;
}

.div1 .logo {
    /* justify-content: center; */
    width: 120px;
    margin-bottom: 15px;
    margin-left:31%;
    /* align-items: center; */
}

.div1 form {
    display: flex;
    flex-direction: column;
}

.div1 label {
    margin-top: 12px;
    font-weight: bold;
    color: #f0e9e9;
    text-align: left;
}

.div1 input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.div1 textarea {
    resize: none;
}

.div1 button {
    background: #f77619;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.div1 button:hover {
    background: #0056b3;
}